# Render / Backend .NET Web API
ASPNETCORE_ENVIRONMENT=Production
ASPNETCORE_URLS=http://+:8080

# Supabase PostgreSQL connection string, privado del backend
ConnectionStrings__DefaultConnection=Host=aws-xxxxx.pooler.supabase.com;Port=6543;Database=postgres;Username=postgres.xxxxx;Password=TU_PASSWORD;SSL Mode=Require;Trust Server Certificate=true

# JWT backend
Jwt__Key=CAMBIAR_POR_CLAVE_SUPER_SEGURA_MINIMO_32_CARACTERES
Jwt__Issuer=TextilSalas.Api
Jwt__Audience=TextilSalas.Frontend

# Admin inicial, privado del backend
Admin__Email=admin@textilsalas.com
Admin__Password=CAMBIAR_PASSWORD_SEGURA

# CORS: dominio real de Vercel
Cors__AllowedOrigins__0=https://TU-FRONTEND.vercel.app

# Supabase privado del backend
Supabase__Url=https://TU-PROYECTO.supabase.co
Supabase__ServiceRoleKey=TU_SERVICE_ROLE_KEY_SOLO_BACKEND
Storage__Bucket=payment-proofs

# Pagos privados del backend
MercadoPago__AccessToken=TU_ACCESS_TOKEN_SOLO_BACKEND
